@page
@model RepairMvc.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin page";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<div id="app" class="container">
    <div>
        <div v-if="!editing">
            <button class="button" v-on:click="newProduct">Add New Product</button>
            <table class="table">
                <tr>
                    <th>productId</th>
                    <th>name</th>
                    <th>partType</th>
                    <th>price</th>
                    <th></th>
                </tr>
                <tr v-for="(product, index) in products">
                    <td>{{product.productId}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.partType}}</td>
                    <td>{{product.price}}</td>
                    <td><button v-on:click="editProduct(product, index)">Edit</button></td>
                    <td><button v-on:click="deleteProduct(product.productId)">Remove</button></td>
                </tr>
            </table>
        </div>

        <div v-else>
            <div class="field">
                <label class="label">Product Name</label>
                <div class="control">
                    <input class="input" v-model="productModel.name" />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="label">Product PartType</label>
                    <input class="input" v-model="productModel.partType" />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="label">Product Description</label>
                    <input class="input" v-model="productModel.description" />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="label">Product Price</label>
                    <input class="input" v-model="productModel.price" />
                </div>
            </div>

            <button class="button is-success" v-on:click="createProduct" v-if="!productModel.productId">Create Product</button>
            <button class="button is-warning" v-on:click="updateProduct" v-else>Update Product</button>
            <button class="button is-warning" v-on:click="cancel">Cancel</button>
        </div>
    </div>
</div>

<!--

     <p v-for="(partType, index) in products.partTypes">

        </p>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].PartType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
-->

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

@section scripts {
    <script src="~/js/admin/products.js"></script>
}